{
  "version": "3.3.1.1",
  "plugins": {
    "enabled_in_cluster": [
      "prometheus",
      "datadog"
    ],
    "available_on_server": {
      "response-transformer-advanced": {
        "version": "3.3.1",
        "priority": 800
      },
      "rate-limiting-advanced": {
        "version": "3.3.1",
        "priority": 910
      },
      "ldap-auth-advanced": {
        "version": "3.3.1",
        "priority": 1200
      },
      "statsd-advanced": {
        "version": "3.3.1",
        "priority": 11
      },
      "route-by-header": {
        "version": "3.3.1",
        "priority": 850
      },
      "jwt-signer": {
        "version": "3.3.1",
        "priority": 1020
      },
      "vault-auth": {
        "version": "3.3.1",
        "priority": 1350
      },
      "request-validator": {
        "version": "3.3.1",
        "priority": 999
      },
      "mtls-auth": {
        "version": "3.3.1",
        "priority": 1600
      },
      "graphql-proxy-cache-advanced": {
        "version": "3.3.1",
        "priority": 99
      },
      "graphql-rate-limiting-advanced": {
        "version": "3.3.1",
        "priority": 902
      },
      "degraphql": {
        "version": "3.3.1",
        "priority": 1500
      },
      "route-transformer-advanced": {
        "version": "3.3.1",
        "priority": 780
      },
      "kafka-log": {
        "version": "3.3.1",
        "priority": 5
      },
      "kafka-upstream": {
        "version": "3.3.1",
        "priority": 751
      },
      "exit-transformer": {
        "version": "3.3.1",
        "priority": 9999
      },
      "key-auth-enc": {
        "version": "3.3.1",
        "priority": 1250
      },
      "upstream-timeout": {
        "version": "3.3.1",
        "priority": 400
      },
      "mocking": {
        "version": "3.3.1",
        "priority": -1
      },
      "opa": {
        "version": "3.3.1",
        "priority": 920
      },
      "jq": {
        "version": "3.3.1",
        "priority": 811
      },
      "websocket-size-limit": {
        "version": "3.3.1",
        "priority": 999
      },
      "websocket-validator": {
        "version": "3.3.1",
        "priority": 999
      },
      "konnect-application-auth": {
        "version": "3.3.1",
        "priority": 950
      },
      "tls-handshake-modifier": {
        "version": "3.3.1",
        "priority": 997
      },
      "tls-metadata-headers": {
        "version": "3.3.1",
        "priority": 996
      },
      "saml": {
        "version": "3.3.1",
        "priority": 900
      },
      "xml-threat-protection": {
        "version": "3.3.1",
        "priority": 999
      },
      "jwe-decrypt": {
        "version": "3.3.1",
        "priority": 1999
      },
      "oas-validation": {
        "version": "3.3.1",
        "priority": 850
      },
      "request-transformer-advanced": {
        "version": "3.3.1",
        "priority": 802
      },
      "canary": {
        "version": "3.3.1",
        "priority": 20
      },
      "forward-proxy": {
        "version": "3.3.1",
        "priority": 50
      },
      "openid-connect": {
        "version": "3.3.1",
        "priority": 1050
      },
      "proxy-cache-advanced": {
        "version": "3.3.1",
        "priority": 100
      },
      "oauth2-introspection": {
        "version": "3.3.1",
        "priority": 1700
      },
      "application-registration": {
        "version": "3.3.1",
        "priority": 995
      },
      "jwt": {
        "version": "3.3.1",
        "priority": 1450
      },
      "acl": {
        "version": "3.3.1",
        "priority": 950
      },
      "correlation-id": {
        "version": "3.3.1",
        "priority": 100001
      },
      "cors": {
        "version": "3.3.1",
        "priority": 2000
      },
      "oauth2": {
        "version": "3.3.1",
        "priority": 1400
      },
      "tcp-log": {
        "version": "3.3.1",
        "priority": 7
      },
      "udp-log": {
        "version": "3.3.1",
        "priority": 8
      },
      "file-log": {
        "version": "3.3.1",
        "priority": 9
      },
      "http-log": {
        "version": "3.3.1",
        "priority": 12
      },
      "key-auth": {
        "version": "3.3.1",
        "priority": 1250
      },
      "hmac-auth": {
        "version": "3.3.1",
        "priority": 1030
      },
      "basic-auth": {
        "version": "3.3.1",
        "priority": 1100
      },
      "ip-restriction": {
        "version": "3.3.1",
        "priority": 990
      },
      "request-transformer": {
        "version": "3.3.1",
        "priority": 801
      },
      "response-transformer": {
        "version": "3.3.1",
        "priority": 800
      },
      "request-size-limiting": {
        "version": "3.3.1",
        "priority": 951
      },
      "rate-limiting": {
        "version": "3.3.1",
        "priority": 910
      },
      "response-ratelimiting": {
        "version": "3.3.1",
        "priority": 900
      },
      "syslog": {
        "version": "3.3.1",
        "priority": 4
      },
      "loggly": {
        "version": "3.3.1",
        "priority": 6
      },
      "datadog": {
        "version": "3.3.1",
        "priority": 10
      },
      "ldap-auth": {
        "version": "3.3.1",
        "priority": 1200
      },
      "statsd": {
        "version": "3.3.1",
        "priority": 11
      },
      "bot-detection": {
        "version": "3.3.1",
        "priority": 2500
      },
      "aws-lambda": {
        "version": "3.3.1",
        "priority": 750
      },
      "request-termination": {
        "version": "3.3.1",
        "priority": 2
      },
      "prometheus": {
        "version": "3.3.1",
        "priority": 13
      },
      "proxy-cache": {
        "version": "3.3.1",
        "priority": 100
      },
      "session": {
        "version": "3.3.1",
        "priority": 1900
      },
      "acme": {
        "version": "3.3.1",
        "priority": 1705
      },
      "grpc-gateway": {
        "version": "3.3.1",
        "priority": 998
      },
      "grpc-web": {
        "version": "3.3.1",
        "priority": 3
      },
      "pre-function": {
        "version": "3.3.1",
        "priority": 1000000
      },
      "post-function": {
        "version": "3.3.1",
        "priority": -1000
      },
      "azure-functions": {
        "version": "3.3.1",
        "priority": 749
      },
      "zipkin": {
        "version": "3.3.1",
        "priority": 100000
      },
      "opentelemetry": {
        "version": "3.3.1",
        "priority": 14
      }
    },
    "disabled_on_server": {}
  },
  "tagline": "Welcome to kong",
  "node_id": "efb60a07-01cc-456d-b5b3-b24a2684a338",
  "license": {
    "product_subscription": "Konnect Enterprise",
    "license_expiration_date": "2023-11-20",
    "admin_seats": "5",
    "customer": "automation",
    "dataplanes": "100",
    "license_creation_date": "2023-10-02",
    "support_plan": "None"
  },
  "configuration": {
    "portal_session_conf": "******",
    "portal_smtp_admin_emails": {},
    "nginx_http_directives": [
      {
        "name": "charset",
        "value": "UTF-8"
      },
      {
        "name": "client_body_buffer_size",
        "value": "8k"
      },
      {
        "name": "client_max_body_size",
        "value": "0"
      },
      {
        "name": "lua_regex_cache_max_entries",
        "value": "8192"
      },
      {
        "name": "lua_regex_match_limit",
        "value": "100000"
      },
      {
        "name": "lua_shared_dict",
        "value": "prometheus_metrics 5m"
      },
      {
        "name": "lua_ssl_protocols",
        "value": "TLSv1.1 TLSv1.2 TLSv1.3"
      },
      {
        "name": "ssl_dhparam",
        "value": "/kong_prefix/ssl/ffdhe2048.pem"
      },
      {
        "name": "ssl_prefer_server_ciphers",
        "value": "off"
      },
      {
        "name": "ssl_protocols",
        "value": "TLSv1.2 TLSv1.3"
      },
      {
        "name": "ssl_session_tickets",
        "value": "on"
      },
      {
        "name": "ssl_session_timeout",
        "value": "1d"
      }
    ],
    "portal_reset_success_email": true,
    "nginx_upstream_directives": {},
    "nginx_proxy_directives": [
      {
        "name": "real_ip_header",
        "value": "X-Real-IP"
      },
      {
        "name": "real_ip_recursive",
        "value": "off"
      }
    ],
    "nginx_status_directives": {},
    "nginx_debug_directives": {},
    "nginx_admin_directives": [
      {
        "name": "client_body_buffer_size",
        "value": "10m"
      },
      {
        "name": "client_max_body_size",
        "value": "10m"
      }
    ],
    "nginx_stream_directives": [
      {
        "name": "lua_shared_dict",
        "value": "stream_prometheus_metrics 5m"
      },
      {
        "name": "lua_ssl_protocols",
        "value": "TLSv1.1 TLSv1.2 TLSv1.3"
      },
      {
        "name": "ssl_dhparam",
        "value": "/kong_prefix/ssl/ffdhe2048.pem"
      },
      {
        "name": "ssl_prefer_server_ciphers",
        "value": "off"
      },
      {
        "name": "ssl_protocols",
        "value": "TLSv1.2 TLSv1.3"
      },
      {
        "name": "ssl_session_tickets",
        "value": "on"
      },
      {
        "name": "ssl_session_timeout",
        "value": "1d"
      }
    ],
    "nginx_supstream_directives": {},
    "nginx_sproxy_directives": {},
    "route_validation_strategy": "smart",
    "nginx_pid": "/kong_prefix/pids/nginx.pid",
    "nginx_err_logs": "/kong_prefix/logs/error.log",
    "worker_consistency": "eventual",
    "nginx_acc_logs": "/kong_prefix/logs/access.log",
    "admin_acc_logs": "/kong_prefix/logs/admin_access.log",
    "cassandra_contact_points": [
      "127.0.0.1"
    ],
    "cassandra_port": 9042,
    "nginx_kong_gui_include_conf": "/kong_prefix/nginx-kong-gui-include.conf",
    "cassandra_ssl": false,
    "cassandra_ssl_verify": false,
    "cassandra_write_consistency": "ONE",
    "nginx_kong_stream_conf": "/kong_prefix/nginx-kong-stream.conf",
    "kong_env": "/kong_prefix/.kong_env",
    "kong_process_secrets": "/kong_prefix/.kong_process_secrets",
    "ssl_cert_csr_default": "/kong_prefix/ssl/kong-default.csr",
    "ssl_cert_default": "/kong_prefix/ssl/kong-default.crt",
    "cassandra_read_consistency": "ONE",
    "cassandra_lb_policy": "RequestRoundRobin",
    "ssl_cert_default_ecdsa": "/kong_prefix/ssl/kong-default-ecdsa.crt",
    "ssl_cert_key_default_ecdsa": "/kong_prefix/ssl/kong-default-ecdsa.key",
    "cassandra_refresh_frequency": 60,
    "client_ssl_cert_key_default": "/kong_prefix/ssl/kong-default.key",
    "admin_ssl_cert_default": "/kong_prefix/ssl/admin-kong-default.crt",
    "admin_ssl_cert_key_default": "/kong_prefix/ssl/admin-kong-default.key",
    "cassandra_data_centers": [
      "dc1:2",
      "dc2:3"
    ],
    "cassandra_schema_consensus_timeout": 10000,
    "admin_ssl_cert_key_default_ecdsa": "/kong_prefix/ssl/admin-kong-default-ecdsa.key",
    "status_ssl_cert_default": "/kong_prefix/ssl/status-kong-default.crt",
    "ssl_protocols": "TLSv1.1 TLSv1.2 TLSv1.3",
    "upstream_keepalive_pool_size": 60,
    "nginx_http_ssl_protocols": "TLSv1.2 TLSv1.3",
    "lua_ssl_trusted_certificate": [
      "/kong_prefix/ssl/lua-ssl-trusted-1.crt"
    ],
    "ssl_prefer_server_ciphers": "on",
    "nginx_http_ssl_prefer_server_ciphers": "off",
    "nginx_http_lua_ssl_protocols": "TLSv1.1 TLSv1.2 TLSv1.3",
    "ssl_dhparam": "ffdhe2048",
    "lua_socket_pool_size": 30,
    "cluster_control_plane": "127.0.0.1:8005",
    "port_maps": {},
    "cluster_cert_key": "/etc/secrets/kong-cluster-tls/tls.key",
    "cluster_mtls": "pki",
    "status_listen": [
      "0.0.0.0:8100"
    ],
    "debug_listen": [
      "off"
    ],
    "stream_listen": [
      "off"
    ],
    "upstream_keepalive_max_requests": 100,
    "admin_ssl_cert": [
      "/etc/secrets/kong-cluster-tls/tls.crt"
    ],
    "admin_ssl_cert_key": [
      "/etc/secrets/kong-cluster-tls/tls.key"
    ],
    "cluster_allowed_common_names": {},
    "cluster_max_payload": 4194304,
    "debug_ssl_cert": {},
    "debug_ssl_cert_key": {},
    "pluginserver_names": {},
    "nginx_user": "kong kong",
    "cassandra_keyspace": "kong",
    "untrusted_lua_sandbox_requires": {},
    "untrusted_lua_sandbox_environment": {},
    "allow_inconsistent_data_plane_plugins": false,
    "nginx_main_daemon": "off",
    "lmdb_map_size": "128m",
    "nginx_main_worker_processes": "2",
    "opentelemetry_tracing_sampling_rate": 0.01,
    "real_ip_header": "X-Real-IP",
    "nginx_proxy_real_ip_header": "X-Real-IP",
    "real_ip_recursive": "off",
    "vitals_ttl_days": 0,
    "error_default_type": "text/plain",
    "pg_port": 5432,
    "pg_password": "******",
    "pg_ssl": false,
    "cluster_fallback_config_export_delay": 60,
    "cluster_fallback_config_import": false,
    "pg_ssl_version": "tlsv1_2",
    "vaults": [
      "bundled"
    ],
    "loaded_vaults": {
      "hcv": true,
      "env": true,
      "aws": true,
      "gcp": true
    },
    "cassandra_timeout": 5000,
    "pg_timeout": 5000,
    "worker_state_update_frequency": 5,
    "pg_semaphore_timeout": 60000,
    "proxy_listeners": [
      {
        "port": 8000,
        "bind": false,
        "listener": "0.0.0.0:8000",
        "ip": "0.0.0.0",
        "http2": false,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": false
      },
      {
        "port": 8443,
        "bind": false,
        "listener": "0.0.0.0:8443 ssl http2",
        "ip": "0.0.0.0",
        "http2": true,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": true
      }
    ],
    "admin_listeners": [
      {
        "port": 8001,
        "bind": false,
        "listener": "0.0.0.0:8001",
        "ip": "0.0.0.0",
        "http2": false,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": false
      },
      {
        "port": 8444,
        "bind": false,
        "listener": "0.0.0.0:8444 ssl http2",
        "ip": "0.0.0.0",
        "http2": true,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": true
      }
    ],
    "_debug_pg_ttl_cleanup_interval": 300,
    "pg_ro_ssl": false,
    "pg_ro_ssl_required": false,
    "admin_gui_auth": "basic-auth",
    "log_level": "notice",
    "lua_package_path": "/opt/?.lua;/opt/?/init.lua;;",
    "enabled_headers": {
      "X-Kong-Proxy-Latency": true,
      "Via": true,
      "Server": true,
      "X-Kong-Admin-Latency": true,
      "X-Kong-Upstream-Latency": true,
      "X-Kong-Upstream-Status": false,
      "server_tokens": true,
      "latency_tokens": true,
      "X-Kong-Response-Latency": true
    },
    "dns_resolver": {},
    "dns_hostsfile": "/etc/hosts",
    "dns_error_ttl": 1,
    "dns_not_found_ttl": 30,
    "dns_stale_ttl": 4,
    "dns_cache_size": 10000,
    "dns_order": [
      "LAST",
      "SRV",
      "A",
      "CNAME"
    ],
    "dns_no_sync": false,
    "kic": false,
    "stream_listeners": {},
    "portal_gui_host": "portal.gke.lan:8446",
    "portal_gui_protocol": "https",
    "portal_gui_use_subdomains": false,
    "admin_approved_email": "true",
    "portal_api_url": "https://portalapi.gke.lan:8447",
    "db_update_frequency": 5,
    "db_update_propagation": 0,
    "db_cache_ttl": 0,
    "keyring_enabled": false,
    "router_flavor": "traditional",
    "event_hooks_enabled": true,
    "portal": true,
    "nginx_main_worker_rlimit_nofile": "auto",
    "rbac": "on",
    "nginx_events_worker_connections": "auto",
    "nginx_events_multi_accept": "on",
    "nginx_stream_ssl_dhparam": "ffdhe2048",
    "nginx_http_charset": "UTF-8",
    "nginx_http_ssl_session_tickets": "on",
    "nginx_stream_ssl_session_tickets": "on",
    "nginx_http_client_max_body_size": "0",
    "nginx_http_ssl_session_timeout": "1d",
    "nginx_http_client_body_buffer_size": "8k",
    "ssl_session_cache_size": "10m",
    "proxy_access_log": "/dev/stdout",
    "proxy_error_log": "/dev/stderr",
    "proxy_stream_access_log": "/dev/stdout basic",
    "proxy_stream_error_log": "/dev/stderr",
    "admin_access_log": "/dev/stdout",
    "admin_error_log": "/dev/stderr",
    "status_access_log": "off",
    "portal_app_auth": "kong-oauth2",
    "nginx_admin_client_max_body_size": "10m",
    "nginx_admin_client_body_buffer_size": "10m",
    "vitals_prometheus_scrape_interval": 5,
    "vitals_statsd_udp_packet_size": 1024,
    "vitals_strategy": "database",
    "ssl_cipher_suite": "intermediate",
    "anonymous_reports": true,
    "trusted_ips": {},
    "nginx_worker_processes": "2",
    "vitals_delete_interval_pg": 30,
    "ssl_session_tickets": "on",
    "untrusted_lua": "sandbox",
    "tracing_write_strategy": "file",
    "lua_ssl_protocols": "TLSv1.1 TLSv1.2 TLSv1.3",
    "vitals": true,
    "keyring_strategy": "cluster",
    "client_ssl": false,
    "cluster_listen": [
      "0.0.0.0:8005 ssl"
    ],
    "portal_invite_email": true,
    "lua_ssl_verify_depth": 1,
    "smtp_mock": true,
    "nginx_events_directives": [
      {
        "name": "multi_accept",
        "value": "on"
      },
      {
        "name": "worker_connections",
        "value": "auto"
      }
    ],
    "ssl_cert_key_default": "/kong_prefix/ssl/kong-default.key",
    "nginx_main_user": "kong kong",
    "declarative_config_encryption_mode": "off",
    "allow_debug_header": false,
    "portal_reset_email": true,
    "admin_gui_origin": "https://manager.gke.lan:8445",
    "pg_max_concurrent_queries": 0,
    "proxy_ssl_enabled": true,
    "pg_ro_iam_auth": false,
    "lmdb_environment_path": "dbless.lmdb",
    "vitals_ttl_minutes": 1500,
    "pg_ssl_required": false,
    "pg_iam_auth": false,
    "upstream_keepalive_idle_timeout": 60,
    "status_ssl_cert_default_ecdsa": "/kong_prefix/ssl/status-kong-default-ecdsa.crt",
    "status_ssl_cert_key_default": "/kong_prefix/ssl/status-kong-default.key",
    "cluster_telemetry_listen": [
      "0.0.0.0:8006 ssl"
    ],
    "admin_ssl_cert_default_ecdsa": "/kong_prefix/ssl/admin-kong-default-ecdsa.crt",
    "cluster_ca_cert": "/kong_prefix/ssl/cluster-ca.crt",
    "enforce_rbac": "on",
    "admin_api_uri": "https://adminapi.gke.lan:8444",
    "vitals_ttl_seconds": 3600,
    "plugins": [
      "bundled"
    ],
    "nginx_stream_lua_ssl_protocols": "TLSv1.1 TLSv1.2 TLSv1.3",
    "status_ssl_cert_key_default_ecdsa": "/kong_prefix/ssl/status-kong-default-ecdsa.key",
    "database": "postgres",
    "cluster_use_proxy": false,
    "portal_api_listen": [
      "0.0.0.0:8004",
      "0.0.0.0:8447 http2 ssl"
    ],
    "admin_gui_listeners": [
      {
        "port": 8002,
        "bind": false,
        "listener": "0.0.0.0:8002",
        "ip": "0.0.0.0",
        "http2": false,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": false
      },
      {
        "port": 8445,
        "bind": false,
        "listener": "0.0.0.0:8445 ssl http2",
        "ip": "0.0.0.0",
        "http2": true,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": true
      }
    ],
    "portal_gui_listen": [
      "0.0.0.0:8003",
      "0.0.0.0:8446 http2 ssl"
    ],
    "portal_gui_ssl_enabled": true,
    "host_ports": {},
    "admin_gui_listen": [
      "0.0.0.0:8002",
      "0.0.0.0:8445 http2 ssl"
    ],
    "admin_gui_ssl_enabled": true,
    "role": "control_plane",
    "cluster_telemetry_endpoint": "127.0.0.1:8006",
    "cluster_telemetry_listeners": [
      {
        "port": 8006,
        "bind": false,
        "listener": "0.0.0.0:8006 ssl",
        "ip": "0.0.0.0",
        "http2": false,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": true
      }
    ],
    "ssl_session_timeout": "1d",
    "proxy_server_ssl_verify": true,
    "cluster_data_plane_purge_delay": 1209600,
    "cluster_fallback_config_export": false,
    "mem_cache_size": "128m",
    "nginx_proxy_real_ip_recursive": "off",
    "tracing_types": {
      "1": "all",
      "all": true
    },
    "audit_log": false,
    "db_cache_warmup_entities": [
      "services"
    ],
    "portal_api_listeners": [
      {
        "port": 8004,
        "bind": false,
        "listener": "0.0.0.0:8004",
        "ip": "0.0.0.0",
        "http2": false,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": false
      },
      {
        "port": 8447,
        "bind": false,
        "listener": "0.0.0.0:8447 ssl http2",
        "ip": "0.0.0.0",
        "http2": true,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": true
      }
    ],
    "nginx_http_lua_regex_match_limit": "100000",
    "admin_gui_auth_header": "******",
    "prefix": "/kong_prefix",
    "tracing_time_threshold": 0,
    "client_body_buffer_size": "8k",
    "debug_error_log": "logs/debug_error.log",
    "generate_trace_details": false,
    "konnect_mode": false,
    "stream_proxy_ssl_enabled": false,
    "pg_host": "kee-cp-postgresql",
    "status_ssl_enabled": false,
    "debug_ssl_enabled": false,
    "ssl_ciphers": "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384",
    "pg_database": "kong",
    "keyring_vault_kube_role": "default",
    "keyring_vault_auth_method": "token",
    "tracing_sampling_rate": 0.01,
    "lua_ssl_trusted_certificate_combined": "/kong_prefix/.ca_combined",
    "nginx_stream_ssl_session_timeout": "1d",
    "pg_user": "kong",
    "lua_max_req_headers": 100,
    "ssl_cert_key": [
      "/kong_prefix/ssl/kong-default.key",
      "/kong_prefix/ssl/kong-default-ecdsa.key"
    ],
    "portal_email_verification": false,
    "portal_auth_login_attempts": 0,
    "portal_api_ssl_cert_default_ecdsa": "/kong_prefix/ssl/portal-api-kong-default-ecdsa.crt",
    "portal_api_ssl_cert_key": [
      "/etc/secrets/kong-cluster-tls/tls.key"
    ],
    "portal_api_ssl_cert": [
      "/etc/secrets/kong-cluster-tls/tls.crt"
    ],
    "portal_api_error_log": "/dev/stderr",
    "portal_api_access_log": "/dev/stdout",
    "portal_gui_ssl_cert_key": [
      "/etc/secrets/kong-client-ssl/tls.key"
    ],
    "portal_gui_ssl_cert": [
      "/etc/secrets/kong-client-ssl/tls.crt"
    ],
    "admin_gui_ssl_cert_key": [
      "/etc/secrets/kong-client-ssl/tls.key"
    ],
    "admin_gui_ssl_cert": [
      "/etc/secrets/kong-client-ssl/tls.crt"
    ],
    "admin_invitation_expiry": 259200,
    "nginx_http_lua_regex_cache_max_entries": "8192",
    "admin_emails_from": "\"\"",
    "admin_gui_auth_login_attempts": 0,
    "admin_gui_flags": "{}",
    "admin_gui_access_log": "/dev/stdout",
    "admin_gui_error_log": "/dev/stderr",
    "tracing_instrumentations": [
      "off"
    ],
    "audit_log_payload_exclude": [
      "token",
      "secret",
      "password"
    ],
    "audit_log_record_ttl": 2592000,
    "audit_log_ignore_tables": {},
    "audit_log_ignore_paths": {},
    "audit_log_ignore_methods": {},
    "analytics_buffer_size_limit": 100000,
    "analytics_flush_interval": 1,
    "smtp_admin_emails": [
      "admin@example.com"
    ],
    "smtp_port": 25,
    "vitals_statsd_prefix": "kong",
    "rbac_auth_header": "Kong-Admin-Token",
    "lmdb_encryption_key": "/kong_prefix/.lmdb_encryption_key",
    "lua_package_cpath": "",
    "portal_api_ssl_cert_key_default_ecdsa": "/kong_prefix/ssl/portal-api-kong-default-ecdsa.key",
    "lua_max_post_args": 100,
    "lua_max_uri_args": 100,
    "smtp_domain": "localhost.localdomain",
    "portal_gui_ssl_cert_key_default": "/kong_prefix/ssl/portal-gui-kong-default.key",
    "smtp_timeout_read": 60000,
    "portal_gui_ssl_cert_default": "/kong_prefix/ssl/portal-gui-kong-default.crt",
    "smtp_timeout_send": 60000,
    "portal_gui_ssl_cert_key_default_ecdsa": "/kong_prefix/ssl/portal-gui-kong-default-ecdsa.key",
    "smtp_timeout_connect": 60000,
    "portal_gui_ssl_cert_default_ecdsa": "/kong_prefix/ssl/portal-gui-kong-default-ecdsa.crt",
    "proxy_listen": [
      "0.0.0.0:8000",
      "0.0.0.0:8443 http2 ssl"
    ],
    "portal_api_ssl_cert_key_default": "/kong_prefix/ssl/portal-api-kong-default.key",
    "opentelemetry_tracing": [
      "off"
    ],
    "portal_api_ssl_cert_default": "/kong_prefix/ssl/portal-api-kong-default.crt",
    "smtp_ssl": false,
    "admin_gui_ssl_cert_key_default_ecdsa": "/kong_prefix/ssl/admin-gui-kong-default-ecdsa.key",
    "smtp_starttls": false,
    "admin_gui_ssl_cert_default_ecdsa": "/kong_prefix/ssl/admin-gui-kong-default-ecdsa.crt",
    "smtp_host": "localhost",
    "admin_gui_ssl_cert_key_default": "/kong_prefix/ssl/admin-gui-kong-default.key",
    "lua_max_resp_headers": 100,
    "admin_gui_ssl_cert_default": "/kong_prefix/ssl/admin-gui-kong-default.crt",
    "admin_gui_url": "https://manager.gke.lan:8445",
    "nginx_portal_gui_err_logs": "/kong_prefix/logs/portal_gui_error.log",
    "cassandra_repl_strategy": "SimpleStrategy",
    "nginx_portal_gui_acc_logs": "/kong_prefix/logs/portal_gui_access.log",
    "cassandra_username": "kong",
    "nginx_portal_api_err_logs": "/kong_prefix/logs/portal_api_error.log",
    "nginx_stream_ssl_protocols": "TLSv1.2 TLSv1.3",
    "nginx_portal_api_acc_logs": "/kong_prefix/logs/portal_api_access.log",
    "admin_listen": [
      "0.0.0.0:8001",
      "0.0.0.0:8444 http2 ssl"
    ],
    "cluster_cert": "/etc/secrets/kong-cluster-tls/tls.crt",
    "headers": [
      "server_tokens",
      "latency_tokens"
    ],
    "debug_access_log": "off",
    "status_ssl_cert": {},
    "db_resurrect_ttl": 30,
    "cluster_dp_labels": {},
    "loaded_plugins": {
      "response-transformer-advanced": true,
      "rate-limiting-advanced": true,
      "ldap-auth-advanced": true,
      "statsd-advanced": true,
      "route-by-header": true,
      "jwt-signer": true,
      "vault-auth": true,
      "request-validator": true,
      "mtls-auth": true,
      "graphql-proxy-cache-advanced": true,
      "graphql-rate-limiting-advanced": true,
      "degraphql": true,
      "route-transformer-advanced": true,
      "kafka-log": true,
      "kafka-upstream": true,
      "exit-transformer": true,
      "key-auth-enc": true,
      "upstream-timeout": true,
      "mocking": true,
      "opa": true,
      "jq": true,
      "websocket-size-limit": true,
      "websocket-validator": true,
      "konnect-application-auth": true,
      "tls-handshake-modifier": true,
      "tls-metadata-headers": true,
      "saml": true,
      "xml-threat-protection": true,
      "jwe-decrypt": true,
      "oas-validation": true,
      "request-transformer-advanced": true,
      "canary": true,
      "forward-proxy": true,
      "openid-connect": true,
      "proxy-cache-advanced": true,
      "oauth2-introspection": true,
      "application-registration": true,
      "jwt": true,
      "acl": true,
      "correlation-id": true,
      "cors": true,
      "oauth2": true,
      "tcp-log": true,
      "udp-log": true,
      "file-log": true,
      "http-log": true,
      "key-auth": true,
      "hmac-auth": true,
      "basic-auth": true,
      "ip-restriction": true,
      "request-transformer": true,
      "response-transformer": true,
      "request-size-limiting": true,
      "rate-limiting": true,
      "response-ratelimiting": true,
      "syslog": true,
      "loggly": true,
      "datadog": true,
      "ldap-auth": true,
      "statsd": true,
      "bot-detection": true,
      "aws-lambda": true,
      "request-termination": true,
      "prometheus": true,
      "proxy-cache": true,
      "session": true,
      "acme": true,
      "grpc-gateway": true,
      "grpc-web": true,
      "pre-function": true,
      "post-function": true,
      "azure-functions": true,
      "zipkin": true,
      "opentelemetry": true
    },
    "status_ssl_cert_key": {},
    "cluster_listeners": [
      {
        "port": 8005,
        "bind": false,
        "listener": "0.0.0.0:8005 ssl",
        "ip": "0.0.0.0",
        "http2": false,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": true
      }
    ],
    "vitals_flush_interval": 10,
    "status_listeners": [
      {
        "port": 8100,
        "bind": false,
        "listener": "0.0.0.0:8100",
        "ip": "0.0.0.0",
        "http2": false,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": false
      }
    ],
    "debug_listeners": {},
    "admin_gui_path": "/",
    "nginx_stream_ssl_prefer_server_ciphers": "off",
    "portal_api_ssl_enabled": true,
    "pg_ro_ssl_verify": false,
    "portal_cors_origins": [
      "*"
    ],
    "cluster_ocsp": "off",
    "portal_application_status_email": false,
    "nginx_http_ssl_dhparam": "ffdhe2048",
    "admin_gui_session_conf": "******",
    "fips": false,
    "portal_application_request_email": false,
    "nginx_conf": "/kong_prefix/nginx.conf",
    "portal_is_legacy": false,
    "nginx_kong_conf": "/kong_prefix/nginx-kong.conf",
    "tracing": false,
    "ssl_cert": [
      "/kong_prefix/ssl/kong-default.crt",
      "/kong_prefix/ssl/kong-default-ecdsa.crt"
    ],
    "portal_approved_email": true,
    "keyring_vault_kube_api_token_file": "/run/secrets/kubernetes.io/serviceaccount/token",
    "portal_access_request_email": true,
    "nginx_daemon": "off",
    "portal_gui_access_log": "/dev/stdout",
    "client_ssl_cert_default": "/kong_prefix/ssl/kong-default.crt",
    "portal_token_exp": 21600,
    "portal_gui_error_log": "/dev/stderr",
    "portal_auto_approve": false,
    "admin_ssl_enabled": true,
    "portal_gui_listeners": [
      {
        "port": 8003,
        "bind": false,
        "listener": "0.0.0.0:8003",
        "ip": "0.0.0.0",
        "http2": false,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": false
      },
      {
        "port": 8446,
        "bind": false,
        "listener": "0.0.0.0:8446 ssl http2",
        "ip": "0.0.0.0",
        "http2": true,
        "proxy_protocol": false,
        "deferred": false,
        "reuseport": false,
        "backlog=%d+": false,
        "ipv6only=on": false,
        "ipv6only=off": false,
        "so_keepalive=on": false,
        "so_keepalive=off": false,
        "so_keepalive=%w*:%w*:%d*": false,
        "ssl": true
      }
    ],
    "pg_ssl_verify": false,
    "status_error_log": "/dev/stderr",
    "cassandra_repl_factor": 1,
    "nginx_main_directives": [
      {
        "name": "daemon",
        "value": "off"
      },
      {
        "name": "user",
        "value": "kong kong"
      },
      {
        "name": "worker_processes",
        "value": "2"
      },
      {
        "name": "worker_rlimit_nofile",
        "value": "auto"
      }
    ]
  },
  "hostname": "kee-cp-kong-6479557d64-sx7f5",
  "pids": {
    "master": 1,
    "workers": [
      2370,
      2371
    ]
  },
  "timers": {
    "pending": 2,
    "running": 33
  },
  "lua_version": "LuaJIT 2.1.0-20220411"
}
